*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.navbar .nav-link{
    font-weight: 600;
}

.navbar .btn{
    background-color: #F58d17;
    color: white;
    font-weight: 600;
}

.navbar .btn:hover{
    background-color: #ca7310;
    color: white;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    left: 0;
    right: 0;
}

.carousel .btn{
    background-color: #F58d17;
    color: white;
    font-weight: 600;
}

.carousel .btn:hover{
    background-color: #ca7310;
    color: white;
}

.container .btn{
    background-color: #F58d17;
    color: white;
    font-weight: 600;
}

.container .btn:hover{
    background-color: #ca7310;
    color: white;
}

.line{
    width: 70px;
    height: 2px;
    background-color: #F58d17;
    border-radius: 50px;
}

.nav .nav-item .nav-link.active{
    background-color: #F58d17;
}

.nav .nav-item .nav-link{
    color: black;
    margin-left: 10px;
}
